<h1>Welcome to Xtreme Jeep Mods!</h1>
<p>We specialize in Jeep Wrangler modificaitons to make your rig ready for off-road trails.
There are a number of aftermarket Jeep parts that can help you Jeep become trail ready or 
stand out from other rigs.</p>
<%=image_tag("WelcomeJeep.jpg",:alt => "Welcome Jeep Image Not Found",:size => "900x750") %>